@font-face {
    font-family: 'qbicle';
    src: url('./../fonts/Qbicle1BRKMK.ttf') format('truetype');
}

@font-face {
    font-family: 'digital';
    src: url('./../fonts/Digital_Dust.otf') format('opentype');
}

.background-white {
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-purple {
    background-color: purple;
}

.body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.bold {
    font-weight: bolder;
}

.border {
    border: 1px solid black;
}

.border-white {
    border: 1px solid white;
}

.button {
    border-radius: 50%;
    padding: 5%;
}

.button:focus {
    outline:0;
}

.button:hover {
    background-color: tomato;
}

.center {
    justify-content: center;
}

.colorful {
	background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
        linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.column {
    flex-direction: column;
}

.container {
    border: 1px solid black;
}

.cross-axis-center {
    align-items: center;
}

.d-f {
    display: flex;
}

.digital {
    font-family: 'digital', arial;
}

.flex-start {
    justify-content: flex-start;
}

.fluid-header {
    font-size: calc(28px + (46 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.header {
    color: purple;
    /* font-size: xx-large; */
    height: 10vh;
}

.header-font {
    font-family: 'qbicle', arial;
}

.hidden {
    visibility: hidden;
}

.html {
    height: 100%;
}

.m-0 {
    min-height: 0;
}

.m-auto {
    margin: auto;
}

.m-b {
    margin-bottom: 2%;
}

.m-h-10 {
    min-height: 10%;
}

.m-h-100 {
    min-height: 100%;
}

.main-section-height {
    height: 100vh;
}

.max-30 {
    max-height: 30vh;
}

.middle {
    vertical-align: middle;
}

.none {
    display: none;
}

.norm-font {
    font-family: Arial, Helvetica, sans-serif;
}

.p-b {
    padding-bottom: 2%;
}

.pad-2-10 {
    padding: 2% 10%;
}

.pad-main-section {
    padding: 3% 0;
}

.pointer {
    cursor: pointer;
}

.purple {
    color: purple;
}

.row-wrap {
    flex-flow: row wrap;
}

.text-center {
    text-align: center;
}

.text-large {
    font-size: 3rem;
}

.text-medium {
    font-size: 2rem;
}

.transparent {
    background: transparent;
}

.w-100 {
    width: 100%;
}

.white-text {
    color: white;
}

/* Meida Queries */

@media screen and (max-width: 640px) {
    .text-large {
        /* font-size: 2rem; */
    }

    .text-medium {
        font-size: 1.5rem;
    } 
}